.title {
    font-size: 1.5rem;
    margin: 0 0 2rem;
}

.input-group2 {
    margin-bottom: .5rem;
    overflow: hidden; 
}

.input-box {
    position: relative;
    margin-bottom: .8rem; 
}

.input {
    padding: 10px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;

}

.btn {
    width: 100%;
    height: 3.334rem;
    color: #fff;
    background-color: #007fff;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.prompt-box {
    margin: 1rem 0 0;
    color: #8b9196;
}

.clickable {
    color: #007fff;
    cursor: pointer;
}

.register-page {
    padding: 20px;
    width: 26.5rem;
    font-size: 1.167rem;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(19, 18, 18);
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%); 
}

.center {
    text-align: center;
}